.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(255, 115, 0);
    padding: 1rem 0;
    margin: 1rem 0;
  }

  .number-item {
    width: 3rem;
    text-align: center;
    border-right: 1px solid rgb(255, 115, 0);
  }

  .last-number {
    border: none;
  }

  .numbers {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }