.get-button {
  margin: 1rem auto;
}

.lottery {
  text-align: center;
  margin: 40px auto;
  padding: 3%;
  background-color: rgba(128, 128, 128, 0.76);
  width: 75%;
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(105, 105, 105);
}

ol {
  display: inline-block;
  margin: 0;
}

li {
text-align: center;
}

li::marker {
  
}