input {
  width: 40px;
  margin: 0 5px;
}

.formsheet {
  width: max-content;
}

.tickets-button {
  margin: 0 0.5rem;
}

.button-group {
  display: flex;
  justify-content: center;
  margin: 1rem 100px;
}