body {
  overflow-y: scroll;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/lottery-background.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right top 150px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
